
body
{
    background: #eee;
}

#uploadBox
{
    width: 622px;
    height: 362px;
    background-color: #fff;
    border: 1px solid #777;
    margin: 120px auto;
}

#uploadBox ul li
{
    float: left;
    position: relative;
    margin-left: 5px;
    margin-top: 5px;
}

#uploadBox  li img
{
    border: 1px solid #D1D1D1;
    width: 198px;
    height: 112px;
    vertical-align: middle;
}

#uploadBox  li  .percentage
{
    width: 69px;
    height: 69px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -34.5px;
    margin-top: -34.5px;
    text-align: center;
    font-size: 18px;
    line-height: 69px;
    color: #fff;
    border-radius: 34.5px;
    background: rgba(0, 0, 0, .8);
}

#uploadBox  li.done .percentage
{
    background: url("images/done.png") no-repeat 0 0;
    text-indent: -1000em;
}

#uploadBox li .progress
{
    position: absolute;
    height: 22.4px;
    bottom: 0px;
    width: 200px;
    background: #000;
    opacity: .5;
}

.clearfix
{
    clear: both;
}