.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 10px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  width: 100%;
  background-color: #222;
  color: #fff;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
